#post_show
  %h1= @post.title
  %p.username
    Share by
    = @post.user.name
    about
    = time_ago_in_words(@post.created_at)
  .clearfix
    .post_image_description
      = image_tag @post.image.url
      .description= simple_format(@post.description)
    .post_data
      = link_to "Visit Link", @post.link, class: "button"
      = link_to like_post_path, method: :get, class: "data" do
        %i.fa.fa-thumbs-o-up
        = pluralize(@post.get_upvotes.count, "Like")
      = link_to dislike_post_path, method: :get, class: "data" do
        %i.fa.fa-thumbs-o-down
        = pluralize(@post.get_downvotes.count, "Dislike")

%h1= @post.title
%p= @post.link
%p= @post.description
%p= @post.user.name
%p
  = pluralize(@post.get_upvotes.count, "Like")
%p
  = pluralize(@post.get_downvotes.count, "Dislike")

= link_to "Like", like_post_path(@post), method: :get
= link_to "Dislike", dislike_post_path(@post), method: :get

#comment
  %h2.comment_count= pluralize(@post.comments.count, "Comment")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content

  = render 'comments/form'

= link_to "Edit", edit_post_path(@post)
= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }
= link_to "Home", root_path
